
*.class

.idea/copyright/profiles_settings.xml

.idea/workspace.xml

.idea/.name

.idea/compiler.xml

.idea/libraries/lib.xml

.idea/misc.xml

.idea/modules.xml

.idea/uiDesigner.xml

Laridae.iml

REST.iml

.idea/vcs.xml

REST.iml

.idea/uiDesigner.xml
